alias gs='git status'
alias gst='git stash'
alias gsl='git stash list'
alias gsp='git stash pop'
alias ga='git add -A'
alias gpl='git pull'
alias gp='git_push_origin'
alias gc='git commit -m'
alias gco='git checkout'
alias gcm='git checkout master'
alias gch='git checkout home'
alias gcr='git checkout repositive'
alias gcl='git clone'
alias gb='git branch'
alias gbh='git branch home'
alias gbr='git branch repositive'
alias gbd='git branch -D'
alias gkh='git branch -D home' # git kill home
alias gkr='git branch -D repositive'
alias gd='git diff'
alias gdc='git diff --cached'
alias gl='git log --graph --pretty=format:"%Cred%h %Creset- %s%C(yellow)%d %Cgreen(%cd) %C(bold blue)<%an>" --date=relative -5'
alias gll='git log --graph --pretty=format:"%Cred%h %Creset- %s%C(yellow)%d %Cgreen(%cd) %C(bold blue)<%an>" --date=short'
alias glf='git log --pretty=format:"%Cred%h %Creset- %s%C(yellow)%d %Cgreen(%cd) %C(bold blue)<%an>" --date=short --numstat -5'
alias gmm='git_merge_master'
alias grm='git_rebase_master'
alias q='git_quick_push'

alias e='env | grep'
alias r='reload_config'

alias ls='ls -GA'
alias ll='ls -GAlh' # List with permits and size
alias lo='ls -GAlhS' # List ordered by size
