## print hex value of a number
hex() {
    if [[ -n "$1" ]]; then
        printf "%x\n" $1
    else
        print 'Usage: hex <number-to-convert>'
        return 1
    fi
}

q () {
  current=$(git rev-parse --abbrev-ref HEAD);
  git add .;
  git commit -m "$1";
  git push --set-upstream origin "$current"
}

mm() {
  current=$(git rev-parse --abbrev-ref HEAD);
  git checkout master;
  git pull;
  git checkout "$current"
  git merge master
}

reload() {
  source $ZDOTDIR/.zshrc
  printf "Zsh reloaded!\n"
}
