"*":
  "exception-reporting":
    userId: "0fcdf259-7c96-cf20-e206-fb8f6fa0fbf5"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    fontSize: 12
  autosave:
    enabled: true
  "tree-view":
    hideVcsIgnoredFiles: true
  zentabs:
    neverCloseDirty: true
    neverCloseNew: true
  "seeing-is-believing":
    'ruby-command': '/Users/hectorhuertas/.rvm/bin/sib_ruby'
