# set bash as the default shell for cron commands
SHELL=/bin/bash

# run rsync at 23.55hrs every day
30 11 * * * ~/.hector/backup_script

# backup crontab contents
25 11 * * * crontab -l > ~/.hector/crontab

# backup aplications
25 11 * * * ls /Applications > ~/.hector/applications

# backup brew leaves and list
25 11 * * * /usr/local/bin/brew leaves > ~/.hector/brew_leaves
25 11 * * * /usr/local/bin/brew list > ~/.hector/brew_list
